@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
*{ padding: 0; margin: 0; }
#main{ display:none; }
#loader{
  width: 100vw;
  height: 100vh;
  background-size: 100vh 100vw;
} 
#loader>img {
  width: 100vw;
  height: 100vh;
}
html, body {
  box-sizing: border-box;
  background: #00000000;
  color: #887766;
  font-family: "Cutive Mono", monospace;
  height: 100vh;
  width: 100vw;
  place-items: center;
}
.container{
  display: flex;
  position: relative;
}
body {
  height: 100vh;
  width: 100vw;
}
@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
.scores-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1vh 1vw;
}
.score-container, .best-container {
  width: 35vw;
  height: 3vh;
  padding: 0.1vh 2.5vw;
  background: #ff8800aa;
  font-size: 3vh;
  font-weight: bold;
  border-radius: 5vh;
  text-align: center;
  color: #44ff88;
  
}
.score-container:after,
.best-container:after {
  position: absolute;
  text-transform: uppercase;
  font-size: 2vh;
  color: #ffff00aa;
}
.score-container .score-addition,
.best-container .score-addition {
  position: absolute;
  font-weight: bold;
  color: #008800aa;
  z-index: 100;
  -webkit-animation: move-up 600ms ease-in;
  -moz-animation: move-up 600ms ease-in;
  animation: move-up 600ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.score-container:after {
  content: "Score";
}
.best-container:after {
  content: "Best";
}
a {
  text-decoration: none;
  color: #776e65;
  font-weight: bold;
  cursor: pointer;
}
strong.important {
  text-transform: uppercase;
}
hr {
  border: none;
  border-bottom: 0.1vh solid #DFC8B288;
  margin: 0.1vh 0.1vw;
}
.container {
  /*display: grid;*/
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-container {
  position: relative;
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0.5vw;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #cc8844;
  border-radius: 2.5vh 2.5vw;
  width: 99vw;
  height: 78vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-container .game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccaa8888;
  z-index: 100;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.game-container .game-message p {
  font-size: 6vh;
  font-weight: bold;
  height: 6vh;
}
.game-container .game-message .lower {
  display: block;
}
.game-container .game-message a {
  display: inline-block;
  background: #993333;
  border-radius: 3vh 3vw;
  padding: 1vh 1vw;
  text-decoration: none;
  font-size: 2.5vh;
  color: #339933;
  margin: 45vh 10vw;
  line-height: 5vh;
  font-style: bold;
  border: 1vh solid #ffff00;
  text-align: center;
  height: 5vh;
  width: 50vw;
}
.game-container .game-message a.keep-playing-button {
  display: none;
}
.game-container .game-message.game-won {
  background: rgba(237, 194, 46, 0.5);
  color: #f9f6f2;
}
.game-container .game-message.game-won a.keep-playing-button {
  display: inline-block;
}
.game-container .game-message.game-won,
.game-container .game-message.game-over {
  display: block;
}
.grid-container {
  position: absolute;
  z-index: 1;
}
.grid-row {
  margin: 0.2vh 0.2vw;
  
}
.grid-row:last-child {
  margin-bottom: 0;
}
.grid-row:after {
  content: "";
  display: block;
  clear: both;
}
.grid-cell {
  width: 24vw;
  height: 19vh;
  margin: 0 0.2vw;
  float: left;
  border-radius: 2.5vh 2.5vw 2.5vh 2.5vw;
  background: #00000088;
}
.grid-cell:last-child {
  margin-right: 0;
}
.tile-container {
  position: absolute;
  z-index: 2;
}
.tile,
.tile .tile-inner {
  margin: 0.4vh 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24vw;
  height: 18.5vh;
}
.tile.tile-position-1-1 {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.tile.tile-position-1-2 {
  -webkit-transform: translate(0vw, 19.25vh);
  -moz-transform: translate(0vw, 19.25vh);
  -ms-transform: translate(0vw, 19.25vh);
  transform: translate(0vw, 19.25vh);
}
.tile.tile-position-1-3 {
  -webkit-transform: translate(0vw, 38.45vh);
  -moz-transform: translate(0vw, 38.45vh);
  -ms-transform: translate(0vw, 38.45vh);
  transform: translate(0vw, 38.45vh);
}
.tile.tile-position-1-4 {
  -webkit-transform: translate(0vw, 57.6vh);
  -moz-transform: translate(0vw, 57.6vh);
  -ms-transform: translate(0vw, 57.6vh);
  transform: translate(0vw, 57.6vh);
}
.tile.tile-position-2-1 {
  -webkit-transform: translate(24.3vw, 0);
  -moz-transform: translate(24.3vw, 0);
  -ms-transform: translate(24.3vw, 0);
  transform: translate(24.3vw, 0);
}
.tile.tile-position-2-2 {
  -webkit-transform: translate(24.3vw, 19.25vh);
  -moz-transform: translate(24.3vw, 19.25vh);
  -ms-transform: translate(24.3vw, 19.25vh);
  transform: translate(24.3vw, 19.25vh);
}
.tile.tile-position-2-3 {
  -webkit-transform: translate(24.3vw, 38.45vh);
  -moz-transform: translate(24.3vw, 38.45vh);
  -ms-transform: translate(24.3vw, 38.45vh);
  transform: translate(24.3vw, 38.45vh);
}
.tile.tile-position-2-4 {
  -webkit-transform: translate(24.3vw, 57.6vh);
  -moz-transform: translate(24.3vw, 57.6vh);
  -ms-transform: translate(24.3vw, 57.6vh);
  transform: translate(24.3vw, 57.6vh);
}
.tile.tile-position-3-1 {
  -webkit-transform: translate(48.65vw, 0);
  -moz-transform: translate(48.65vw, 0);
  -ms-transform: translate(48.65vw, 0);
  transform: translate(48.65vw, 0);
}
.tile.tile-position-3-2 {
  -webkit-transform: translate(48.65vw, 19.25vh);
  -moz-transform: translate(48.65vw, 19.25vh);
  -ms-transform: translate(48.65vw, 19.25vh);
  transform: translate(48.65vw, 19.25vh);
}
.tile.tile-position-3-3 {
  -webkit-transform: translate(48.65vw, 38.45vh);
  -moz-transform: translate(48.65vw, 38.45vh);
  -ms-transform: translate(48.65vw, 38.45vh);
  transform: translate(48.65vw, 38.45vh);
}
.tile.tile-position-3-4 {
  -webkit-transform: translate(48.65vw, 57.6vh);
  -moz-transform: translate(48.65vw, 57.6vh);
  -ms-transform: translate(48.65vw, 57.6vh);
  transform: translate(48.65vw, 57.6vh);
}
.tile.tile-position-4-1 {
  -webkit-transform: translate(73.1vw, 0);
  -moz-transform: translate(73.1vw, 0);
  -ms-transform: translate(73.1vw, 0);
  transform: translate(73.1vw, 0);
}
.tile.tile-position-4-2 {
  -webkit-transform: translate(73.1vw, 19.25vh);
  -moz-transform: translate(73.1vw, 19.25vh);
  -ms-transform: translate(73.1vw, 19.25vh);
  transform: translate(73.1vw, 19.25vh);
}
.tile.tile-position-4-3 {
  -webkit-transform: translate(73.1vw, 38.45vh);
  -moz-transform: translate(73.1vw, 38.45vh);
  -ms-transform: translate(73.1vw, 38.45vh);
  transform: translate(73.1vw, 38.45vh);
}
.tile.tile-position-4-4 {
  -webkit-transform: translate(73.1vw, 57.6vh);
  -moz-transform: translate(73.1vw, 57.6vh);
  -ms-transform: translate(73.1vw, 57.6vh);
  transform: translate(73.1vw, 57.6vh);
}
.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.tile .tile-inner {
  border-radius: 2.5vh 2.5vw 2.5vh 2.5vw;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 5vh;
}
.tile.tile-2 .tile-inner {
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0);
}
.tile.tile-4 .tile-inner {
  background: #ede0c8;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0);
}
.tile.tile-8 .tile-inner {
  color: #f9f6f2;
  background: #f2b179;
}
.tile.tile-16 .tile-inner {
  color: #f9f6f2;
  background: #f59563;
}
.tile.tile-32 .tile-inner {
  color: #f9f6f2;
  background: #f67c5f;
}
.tile.tile-64 .tile-inner {
  color: #f9f6f2;
  background: #f65e3b;
}
.tile.tile-128 .tile-inner {
  color: #f9f6f2;
  background: #edcf72;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381),
    inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
  font-size: 45px;
}
.tile.tile-256 .tile-inner {
  color: #f9f6f2;
  background: #edcc61;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
    inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
  font-size: 45px;
}
.tile.tile-512 .tile-inner {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
  font-size: 45px;
}
.tile.tile-1024 .tile-inner {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619),
    inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
  font-size: 35px;
}
.tile.tile-2048 .tile-inner {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556),
    inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
  font-size: 35px;
}
.tile.tile-super .tile-inner {
  color: #f9f6f2;
  background: #3c3a32;
  font-size: 30px;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.above-game:after {
  content: "";
}
.above-game {
  display: flex;
  font-size: 1.5vh;
  align-items: center;
  margin: 0.2vh 2.5vw;
}
.above-game > a{
  display: flex;
  text-decoration: none;  
}
.restart-button {
  background: #00aa00;
  color: #00ff00;
  border-radius: 2.5vh;
  padding: 0.5vh 2.5vw;
  text-align: center;
  width: 18vw;
}
.game-explanation {
  font-size: 1.65vh;
  padding: 0.5vh 2.5vw;
  margin: 0vh 0vw;
}

